<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<div class="media contact-block">

    <div class="media__left contact-block__left">

        <div class="contact-info contact-info--alt">Contact</div>
        <div class="contact-info"><a href="tel:07700 900000">07700 900000</a></div>
        <div class="contact-info"><a href="mailto:info@website.co.uk">info@website.co.uk</a></div>

    </div>

    <div class="media__right contact-block__right">

        <form class="form contact-form cf">

            <input class="form__input contact-form__name" placeholder="Your Name" />
            <input class="form__input contact-form__email" placeholder="Your Email" />
            <input class="form__input contact-form__message" placeholder="Company Name" />

            <textarea class="form__input contact-form__message" placeholder="Your Message"></textarea>

            <a href="#" class="btn contact-form__input">Submit</a>

        </form>

    </div>

</div>
