<footer class="footer">

    <div class="footer__content">

        <ul class="footer__navigation">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="services.html">Services</a>
            </li>
            <li>
                <a href="pricing.html">Pricing</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>

    </div>

</footer>
