.callout {
    color: $secondary-text-color;
    background-color: $secondary-color;
    margin-bottom: 30px;
}
.callout__content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 20px;
}
.callout__title {
    font-family: $bold-font;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.callout__text {

}

@media (max-width: 850px) {
    .callout {
        height: 1px;
        overflow: hidden;
    }
}
