@import url(https://fonts.googleapis.com/css?family=Arvo);

@font-face {
    font-family: NexaBold;
    src: url("../font/nexabold.otf") format("opentype");
}

@font-face {
    font-family: NexaLight;
    src: url("../font/nexalight.otf") format("opentype");
}

body {
    font-family: $light-font;
}

.basic-title {
    font-family: $bold-font;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    font-size: 18px;
}
.basic-title--large {
    font-size: 22px;
}

.centered-title {
    font-family: $bold-font;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    font-size: 25px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.centered-title:after {
    content: " ";
    background-color: $tertiary-color;
    width: 20px;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}
