$primary-color: #363855; //light blue
$primary-text-color: #FFFFFF; //white

$secondary-color: #202042; //dark blue
$secondary-text-color: #FFFFFF; //white

$tertiary-color: #fee440; //yellow
$tertiary-text-color: #000000; //black

//NexaBold
//NexaLight

$light-font: 'Arvo', serif;
$bold-font: 'Arvo', serif;
